@use "./container_shape";
@import "../mixin/flex";

:root {
  --after-left: 0px;
  --before-left: 0px;
}

.module {
  .input-digital {
    @include flex-align($vl: center, $hl: center);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    margin: 0.5rem;

    span {
      margin: 1rem;
    }

    input[type="range"] {
      background-color: red;
      position: relative;
      &::after {
        content: var(--after-content, "0");
        color: #e1e1e1;
        text-align: center;
        top: -1.5rem;
        position: absolute;
        width: 5rem;
        left: calc(0.5rem + var(--after-left));
        aspect-ratio: 1/0.5;
        box-shadow: 0 0 5px 0 rgb(90, 90, 90);
        background-color: rgb(41, 41, 41);
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        z-index: 1;
        opacity: var(--before-opacity);
        transition: opacity 0.2s ease-in-out;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
      }
      &::before {
        content: " ";
        left: calc(0.5rem + var(--before-left));
        position: absolute;
        filter: drop-shadow(0 1.8px 1.5px rgb(90, 90, 90));
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        border-left: 0.8rem solid transparent;
        border-right: 0.8rem solid transparent;
        border-top: 0.8rem solid rgb(41, 41, 41);
        -webkit-filter: drop-shadow(0 1.8px 1.5px rgb(90, 90, 90));
        z-index: 2;
        opacity: var(--before-opacity);
        transition: opacity 0.2s ease-in-out;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
      }
    }
  }

  h2 {
    text-align: center;
  }
}
