.btn_delete {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  color: white;
  font-weight: bolder;
  background-color: #ff4141;
  width: 2rem;
  border-style: solid;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
